<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>
    <context:component-scan base-package="ru.avi.springLesson2"/>


<!--    <bean id="classicalMusicBean"-->
<!--          class="ru.avi.springLesson2.ClassicalMusic"-->
<!--          factory-method="getClassicalMusic"-->
<!--          init-method="doMyInit"-->
<!--          destroy-method="doMyDestroy">-->
<!--    </bean>-->


<!--    <bean id="rapMusicBean" class="ru.avi.springLesson2.RapMusic">-->
<!--    </bean>-->
<!--    <bean id="rockMusicBean" class="ru.avi.springLesson2.RockMusic">-->
<!--    </bean>-->

<!--    <bean id="musicPlayer" class="ru.avi.springLesson2.MusicPlayer"-->
<!--            scope="prototype">-->
<!--        <property name="musicList">-->
<!--            <list>-->
<!--                <ref bean="classicalMusicBean"/>-->
<!--                <ref bean="rapMusicBean"/>-->
<!--                <ref bean="rockMusicBean"/>-->
<!--            </list>-->
<!--        </property>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
<!--        <property name="name" value="${musicPlayer.name}"/>-->
<!--    </bean>-->


</beans>